<div class="jumbotron">
    <div class="row">
        <h2>
            <label class="label label-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Cadastrar
            </label>
        </h2>
    </div>
</div>

<div id="divBtnGravarNovaPessoa" class="row" style="display:none;">
    <div class="col-md-12 text-center">
        <button type="button" id="btnGravarNovaPessoa" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Cadastrar outra pessoa?
        </button>
    </div>
</div>

<div id="divCadastro" style="display:none;">
    <div class="row">
        <div class="col-md-12">
            <div id="divCrud"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" id="btnGravarForm" onclick="GravarForm();" class="btn btn-success btn-lg" disabled="disabled">
                        <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>
                        Gravar Dados
                    </button>
                    <button type="button" onclick="LimparForm();" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        Limpar Dados
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divWebCam" style="display:none;">
</div>

<div id="divResumoConsulta" style="display:none;">
</div>

@section scripts{

<script>

    $(document).ready(function () {

        function CarregaTelaCrud() {
            $.ajax({
                url: '@Url.Action("TelaCrud", "Cadastro")',
                method: 'POST',
                dataType: 'html',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    'acao': 'I'
                })
            }).done(function (data, status) {
                $('#divCrud').html(data);
                $('#formCamera').show();
                $('#divCadastro').show();
                $('#sexo option[value=""]').show();
            }).fail(function (data, status) {
                $.notify('Erro ao carregar a tela de crud para inclusão de novas pessoas...', { clickToHide: true, autoHide: false });
            });
        }
        
        CarregaTelaCrud();

    });

    function LimparForm() {
        $('#formDadosPessoa').trigger("reset");
        $('#btnGravarForm').prop("disabled", true);
    }

    function GravarForm() {
            var formPessoa = $('#formDadosPessoa').serializeArray();
            var formPessoaJson = { foto_string: $('#fotoString').val() };
            $.each(formPessoa,
                function (i, v) {
                    formPessoaJson[v.name] = v.value;
                });

            $.ajax({
                url: '@Session["WEB_API"].ToString()/api/pessoas/cadastrarPessoas',
                method: 'POST',
                dataType: 'json',
                data: formPessoaJson
            }).done(function (data, status) {
                if (data.mensagemRetorno.includes('sucesso'))
                {
                    $.notify(data.mensagemRetorno, { className: 'success', clickToHide: true, autoHide: false });
                    GetPessoa(data.idPessoa);
                }
                else
                {
                    $.notify(data.mensagemRetorno, { clickToHide: true, autoHide: false });
                    LimparForm();
                }
            }).fail(function (data, status) {
                $.notify('Erro ao gravar os dados na tabela pessoa...', { clickToHide: true, autoHide: false });
                LimparForm();
            });
    }

    function CarregaWebCam() {
        $.ajax({
            url: '@Url.Action("WebCam", "Cadastro")',
            method: 'POST',
            dataType: 'html',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'acao': 'I'
            })
        }).done(function (data, status) {
            $('#divWebCam').html(data).show();
            $('.modal-title').html('Foto');
            $('#modalWebCam').modal();
        }).fail(function (data, status) {
            $.notify('Erro ao abrir a web cam...', { clickToHide: true, autoHide: false });
        });
    }

    $('#btnGravarNovaPessoa').click(function () {
        location.reload();
    });

</script>

}