<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2><span class="label label-info">Pesquisar</span></h2>            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="pesquisarNome">Nome:</label>
            <input id="pesquisarNome" type="text" class="form-control" placeholder="Digite o nome á buscar" value="">
            <input id="idPessoa" type="hidden" value="">
        </div>
        <div class="col-md-4 form-group">
            <label for="pesquisarDocumento">Documento:</label>
            <input id="pesquisarDocumento" type="text" placeholder="Digite o número do documento" class="form-control">
        </div>
        <div class="col-md-4 form-group">
            <label for="pesquisarUnidade">Unidade:</label>
            <input id="pesquisarUnidade" type="text" placeholder="Digite a unidade" class="form-control">
        </div>
    </div>
</div>

<div id="divResumoConsulta" style="display:none;">
</div>

@section scripts{

<script>

    $(document).ready(function () {

    $('#pesquisarNome').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@ViewBag.WEB_API/api/pessoas/' + request.term + '/autoCompletePessoas',
                method: 'GET',
                dataType: 'json'
            }).done(function (data, status) {
                response(data);
            }).fail(function (data, status) {

            });                                                   
        },
        minLength: 3,
        select: function (event, ui) {
            GetPessoas(ui.item.label);
        }
    });

    function GetPessoas(nome) {
        $.ajax({
            url: '@ViewBag.WEB_API/api/pessoas/' + nome + '/listarPessoas',
            method: 'GET',
            dataType: 'json'
        }).done(function (data, status) {
            $.ajax({
                url: '@Url.Action("ResumoConsulta", "Consulta")',
                method: 'POST',
                dataType: 'html',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    'model': data
                })
            }).done(function (data, status) {
                $('#divResumoConsulta').html(data);
                $('#divResumoConsulta').show();
            }).fail(function (data, status) {

            });
        }).fail(function (data, status) {

        });
    }

});

</script>

}