<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>
                <label class="label label-info">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Pesquisar
                </label>
            </h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="pesquisarNome" class="control-label text-primary">Nome:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input id="pesquisarNome" type="text" placeholder="Digite o nome a buscar" class="form-control">                
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label for="pesquisarDocumento" class="control-label text-primary">Documento:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input id="pesquisarDocumento" type="text" placeholder="Digite o número do documento" class="form-control">
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label for="pesquisarUnidade" class="control-label text-primary">Unidade:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input id="pesquisarUnidade" type="text" placeholder="Digite a unidade" class="form-control">
            </div>
        </div>
    </div>
</div>

<div id="divResumoConsulta" style="display:none;">
</div>

<input id="idPessoa" type="hidden" value="">

@section scripts{

<script>    
    $(document).ready(function () {
        $('#pesquisarNome').autocomplete({            
            source: function (request, response) {
                $.ajax({
                    url: '@Session["WEB_API"].ToString()/api/pessoas/' + request.term + '/autoCompletePessoas',
                    method: 'GET',
                    dataType: 'json'
                }).done(function (data, status) {
                    response(data);
                }).fail(function (data, status) {
                    $.notify('Erro ao recuperar os dados para realizar o auto complete...', { clickToHide: true, autoHide: false });
                });
            },
            minLength: 3,
            select: function (event, ui) {
                GetPessoas(ui.item.label);
            }
        });

        $('#pesquisarDocumento').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Session["WEB_API"].ToString()/api/documentos/' + request.term + '/autoCompleteDocumentos',
                    method: 'GET',
                    dataType: 'json'
                }).done(function (data, status) {
                    response(data);
                }).fail(function (data, status) {
                    $.notify('Erro ao recuperar os dados para realizar o auto complete...', { clickToHide: true, autoHide: false });
                });
            },
            minLength: 3,
            select: function (event, ui) {
                GetDocumentos(ui.item.label);
            }
        });
    });

</script>

}

<script>

    $(document).ready(function () {
        $('#pesquisarNome').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Session["WEB_API"].ToString()/api/pessoas/' + request.term + '/autoCompletePessoas',
                    method: 'GET',
                    dataType: 'json'
                }).done(function (data, status) {
                    response(data);
                }).fail(function (data, status) {
                    $.notify('Erro ao recuperar os dados para realizar o auto complete...', { clickToHide: true, autoHide: false });
                });
            },
            minLength: 3,
            select: function (event, ui) {
                GetPessoas(ui.item.label);
            }
        });

        $('#pesquisarDocumento').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Session["WEB_API"].ToString()/api/documentos/' + request.term + '/autoCompleteDocumentos',
                    method: 'GET',
                    dataType: 'json'
                }).done(function (data, status) {
                    response(data);
                }).fail(function (data, status) {
                    $.notify('Erro ao recuperar os dados para realizar o auto complete...', { clickToHide: true, autoHide: false });
                });
            },
            minLength: 3,
            select: function (event, ui) {
                GetDocumentos(ui.item.label);
            }
        });
    });

</script>